
@font-face {
  font-family: 'manrope';
  src: url('../../assets/fonts/manrope.ttf');
}
@font-face {
  font-family: 'cascadia-code';
  src: url('../../assets/fonts/cascadia-code.ttf');
}

$mini-tab: 500px;
$tab: 700px;
$big-tab: 900px;
$desktop: 1100px;

:root {
  --sp: clamp(20px, 5dvw, 10%);
  --txt: #121212;
  --bg: beige;
  --medium: #ccc;
  --tl: teal;

  --error: crimson;
  --correct: goldenrod;
  --active: blue;
}

@mixin df($j: normal, $a: normal, $fl: row, $g: 0) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-flow: $fl;
  gap: $g;
}
@mixin btn($c: var(--txt), $bg:var(--bg)){
  cursor: pointer;
  background: $bg;
  color: $c;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all .3s;
  text-align: center;
  @include df(center, center, row, 10px);
  &:hover {
    background: $c;
    border-color: $c;
    color: #fff;
  }
}
@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'cascadia-code', monospace;
}

.loader {
  position: fixed;
  z-index: 8;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: var(--bg);
  display: none;
  &.active {
    @include df(center, center, column, 10px);
  }
  svg {
    width: 50px;
  }
}

header {
  padding: 20px var(--sp);
  background: var(--bg);
  border-bottom: 1px solid var(--medium);
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  @include df(normal, normal);
  .wrapper {
    width: 100%;
    @include df(space-between, center, row, 10px);
    @media (min-width: $desktop) {
      max-width: $desktop;
      margin: 0 auto;
    }
  }
  .logo {
    @include df(normal, start, column);
  }
  #ch {
    display: none;
  }
  .overlay {
    position: fixed;
    z-index: 6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s;
    transform: translateY(100%);
    background: rgba(#000,.3);
  }
  .hamburger {
    transition: all .5s;
    @include df(normal, normal, column, 4px);
    span {
      width: 25px;
      height: 4px;
      background: #121212;
    }
  }
  nav {
    padding: 20px var(--sp);
    position: fixed;
    z-index: 7;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: all .5s;
    background: var(--txt);
    color: var(--bg);
    @include df(normal, flex-end, column, 20px);
    .close {
      width: 30px;
      height: 30px;
      position: relative;
      transition: all .3s;
      @include df(center, center);
      &:hover {
        background: rgba(#ccc, .3);
      }
      span {
        width: 25px;
        height: 3px;
        background: var(--bg);
        position: absolute;
        transform: rotate(45deg);
        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }
      }
    }
    ul {
      align-self: start;
      @include df(normal, start, column, 20px);
      li {
        @include df(normal, start, column, 20px);
        a {
          @include btn();
        }
      }
      button {
          @include btn(var(--txt), #fff);
          a {
            font-size: 14px;
            text-decoration: none;
            color: inherit;
          }
        }
    }
  }
  #ch:checked {
    ~ nav {
      transform: translateY(0);
    }
    ~ .hamburger {
      opacity: 0;
    }
    ~ .overlay{
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media (min-width: $big-tab) {
    .overlay,.hamburger {
      display: none;
    }
    nav {
      padding: 0;
      position: static;
      transform: translateY(0);
      transition: all .5s;
      background: transparent;
      color: var(--bg);
      @include df(right, center, row, 20px);
      .close {
        display: none;
      }
      ul {
        @include df(right, center, row, 10px);
        li {
          &:not(:last-of-type) {
            border-right: 2px solid var(--txt);
            padding-right: 10px;
          }
          a {
            font-size: 14px;
            padding: 0;
            border: none;
            &:hover {
              color: var(--tl);
              background: transparent;
            }
          }
        }
      }
    }
  }
}

main {
  padding-top: 100px;
  min-height: 80dvh;
}

.links {
  @include df(center, center);
  padding: 20px var(--sp);
  ol {
    list-style: none;
    @include df(normal, normal, column, 20px);
    li  {
      background: var(--bg);
      padding: 20px;
      border: 1px solid;
      text-align: center;
      @include df(center, center, column, 10px);
      a {
        @include btn(var(--txt), #fff);
        & {
          font-weight: 700;
        }
      }
    }
  }
}

.footer {
  margin-top: 50px;
  padding: 20px var(--sp);
  border-top: 1px solid var(--medium);
  background: var(--bg);
  @include df(center, center);
  &__content {
    width: 100%;
    @include df(center, center, column, 10px);
    p {
      @include df(center, center, column, 5px);
      a {
        @include btn;
        & {
          background: #fff;
        }
      }
    }
  }
}
