@font-face {
  font-family: "manrope";
  src: url("../../assets/fonts/manrope.ttf");
}
@font-face {
  font-family: "cascadia-code";
  src: url("../../assets/fonts/cascadia-code.ttf");
}
:root {
  --sp: clamp(20px, 5dvw, 10%);
  --txt: #121212;
  --bg: beige;
  --medium: #ccc;
  --tl: teal;
  --error: crimson;
  --correct: goldenrod;
  --active: blue;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "cascadia-code", monospace;
}

.loader {
  position: fixed;
  z-index: 8;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: var(--bg);
  display: none;
}
.loader.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10px;
}
.loader svg {
  width: 50px;
}

header {
  padding: 20px var(--sp);
  background: var(--bg);
  border-bottom: 1px solid var(--medium);
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: row;
  gap: 0;
}
header .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
@media (min-width: 1100px) {
  header .wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
}
header .logo {
  display: flex;
  justify-content: normal;
  align-items: start;
  flex-flow: column;
  gap: 0;
}
header #ch {
  display: none;
}
header .overlay {
  position: fixed;
  z-index: 6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.3);
}
header .hamburger {
  transition: all 0.5s;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: column;
  gap: 4px;
}
header .hamburger span {
  width: 25px;
  height: 4px;
  background: #121212;
}
header nav {
  padding: 20px var(--sp);
  position: fixed;
  z-index: 7;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition: all 0.5s;
  background: var(--txt);
  color: var(--bg);
  display: flex;
  justify-content: normal;
  align-items: flex-end;
  flex-flow: column;
  gap: 20px;
}
header nav .close {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
}
header nav .close:hover {
  background: rgba(204, 204, 204, 0.3);
}
header nav .close span {
  width: 25px;
  height: 3px;
  background: var(--bg);
  position: absolute;
  transform: rotate(45deg);
}
header nav .close span:nth-of-type(2) {
  transform: rotate(-45deg);
}
header nav ul {
  align-self: start;
  display: flex;
  justify-content: normal;
  align-items: start;
  flex-flow: column;
  gap: 20px;
}
header nav ul li {
  display: flex;
  justify-content: normal;
  align-items: start;
  flex-flow: column;
  gap: 20px;
}
header nav ul li a {
  cursor: pointer;
  background: var(--bg);
  color: var(--txt);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
header nav ul li a:hover {
  background: var(--txt);
  border-color: var(--txt);
  color: #fff;
}
header nav ul button {
  cursor: pointer;
  background: #fff;
  color: var(--txt);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
header nav ul button:hover {
  background: var(--txt);
  border-color: var(--txt);
  color: #fff;
}
header nav ul button a {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}
header #ch:checked ~ nav {
  transform: translateY(0);
}
header #ch:checked ~ .hamburger {
  opacity: 0;
}
header #ch:checked ~ .overlay {
  transform: translateY(0);
  opacity: 1;
}
@media (min-width: 900px) {
  header .overlay, header .hamburger {
    display: none;
  }
  header nav {
    padding: 0;
    position: static;
    transform: translateY(0);
    transition: all 0.5s;
    background: transparent;
    color: var(--bg);
    display: flex;
    justify-content: right;
    align-items: center;
    flex-flow: row;
    gap: 20px;
  }
  header nav .close {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-flow: row;
    gap: 10px;
  }
  header nav ul li:not(:last-of-type) {
    border-right: 2px solid var(--txt);
    padding-right: 10px;
  }
  header nav ul li a {
    font-size: 14px;
    padding: 0;
    border: none;
  }
  header nav ul li a:hover {
    color: var(--tl);
    background: transparent;
  }
}

main {
  padding-top: 100px;
  min-height: 80dvh;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
  padding: 20px var(--sp);
}
.links ol {
  list-style: none;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: column;
  gap: 20px;
}
.links ol li {
  background: var(--bg);
  padding: 20px;
  border: 1px solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10px;
}
.links ol li a {
  cursor: pointer;
  background: #fff;
  color: var(--txt);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
.links ol li a:hover {
  background: var(--txt);
  border-color: var(--txt);
  color: #fff;
}
.links ol li a {
  font-weight: 700;
}

.footer {
  margin-top: 50px;
  padding: 20px var(--sp);
  border-top: 1px solid var(--medium);
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
}
.footer__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10px;
}
.footer__content p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 5px;
}
.footer__content p a {
  cursor: pointer;
  background: var(--bg);
  color: var(--txt);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
.footer__content p a:hover {
  background: var(--txt);
  border-color: var(--txt);
  color: #fff;
}
.footer__content p a {
  background: #fff;
}/*# sourceMappingURL=main.css.map */