
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jetbrains Mono', Monospace;
}

body {
  padding: 20px;
}
main {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  gap: 25px:
}
h1 {
  margin-bottom: 20px;
  line-height: 1.5;
}
main>div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
label {
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0 10px;
  background-color: #fff;
  transform: translateY(-50%);
}

input {
  font-weight: bold;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 20px;
  border: 1px solid;
  outline: none;
  
}
input:focus {
  border: 1px solid #81068e;
}
input:focus ~ label {
  color: #81068e;
}
button {
  letter-spacing: 5px;
  font-family: inherit;
  width: 100%;
  padding: 10px;
  border: 2px solid transparent;
  margin: 30px auto;
  font-size: 15px;
  font-weight: 700;
  background: #042421;
  color: #fff;
  border-radius: 0;
  transition: 3s;
}
button:active {
  opacity: .5;
  background-color: #fff;
}
p {
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}
.error-message {
  display: none;
}
.error-message::before {
  content: '!';
  width: 20px;
  height: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.error {
  border: 1px solid red !important;
}
.error ~ label {
  color: red !important;
}
.error ~ .error-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: red;
  font-size: 13px;
}
article {
  font-size: .7rem;
}

.answers {
  display: none;
}
.answers.show {
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
}