
* {
  font-family: monospace;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-size: 18px;
}
h1 {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
ol {
  padding: 0;
}
li {
  padding: 0;
  margin: 10px 0 10px 30px;
}

a {
  text-decoration: 2px solid underline;
  color: #000;
}