@use './util/' as *;

.button-back {
  padding: 40px var(--side-padding);
  background: rgba(#ccc,.1);
  .back {
    @include btn;
    & {
      font-size: 2rem;
      font-weight: 300;
    }
  }
}

.intro {
  text-align: center;
  background: rgba(#ccc,.1);
  padding: 20px var(--side-padding);
  min-height: 50dvh;
  @include df(center,center, column, 10px);
  a {
    @include btn;
  }
}

.channels {
  padding: 100px var(--side-padding);
  min-height: 50dvh;
  &__grid {
    counter-reset: count;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    &__each {
      border: 1px solid var(--medium);
      @include df(normal,  normal, row, 0);
      &__img {
        flex: 2;
        @include df(center, center);
        svg {
          height: 100%;
          width: 50px;
          stroke: var(--medium);
        }
      }
      &__content {
        flex: 3;
        padding: 20px;
        background: rgba(#ccc,.3);
        @include df(normal, start, column, 10px);
        &::before {
          counter-increment: count;
          content: counter(count);
          border: 2px solid;
          width: 25px;
          height: 25px;
          font-weight: 600;
          border-radius: 50%;
          background: #ccc;
          @include df(center, center);
        }
        & .tags {
          @include df(normal, center, row wrap, 5px);
          span {
            font-size: 90%;
            background: #fff;
            padding: 5px;
            border-radius: 30px;
          }
        }
      }
    }
  }
}