
@mixin df($j:normal, $a:normal, $fl:column, $g:0){
  display: flex;
  flex-flow: $fl;
  justify-content: $j;
  align-items: $a;
  gap: $g;
}

@mixin btn($c:var(--text), $bg:transparent) {
  padding: 10px 20px;
  background: $bg;
  color: $c;
  border: 1px solid;
  border-radius: 30px;
  transition: all .3s;
  text-decoration: none;
  @include df(center, center, row, 10px);
  &:hover {
    background: var(--medium);
    border: 1px solid var(--medium);
  }
}

@mixin card {
  @include df(normal, normal, row wrap,)
}